body, * {
  margin: 0;
  padding: 0;
  margin-top: .5%;
}

body::-webkit-scrollbar {
  display: none;
}

:root {
  --darkColor: #1a1a1a;
  --darkText: white;
  --lightColor: white;
  --lightText: black;
}